@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="col-12">
        <div class="text-center">
            <h1 class="display-4">Welcome</h1>
            <p>MySql Core Web</p>
        </div>
    </div>
</div>
